<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h1 style="text-align:center">Page not found</h1>
  <h4 style="text-align:center"><a href="/">Go Back Home</a></h4>

<footer>
  <%- include('../partials/footer'); %>
</footer>


</body>
</html>